<h1>Sign Up</h1>
<p>Il est important de s'enregistrer avec votre username github </br> (sinon ça ne marche pas)</p>

<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :email %>
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.submit "Creer son profil", class: "btn btn-danger" %>
<% end %>
