<div class="container">
<div class="list">
<% @posts.each do |post| %>
  <div class="product">

    <div class="product-upvote">
      <a href="/posts/<%= post.id %>" data-method='patch'>
      <div class="product-arrow"></div>
      <div class='product-count'><%= post.score %></div>
      </a>
    </div>
    <img src="<%= post.user.profile.img_url %>" class="avatar-small" id="<%= post.id %>">

    <div class="product-body">
      <strong><%= post.created_at.strftime('%A, %b %d') %></strong>
      <p><%= post.body %></p>
    </div>

    <ul class="product-controls list-inline ">
      <li><a href="/posts/<%= post.id %>" data-method='patch'><i class="fa fa-heart"></i></a></li>
    </ul>

  </div>
<% end %>
</div>
</div>
